.blur_card {
  background: rgba(255, 255, 255, 0.05); /* 極淡的白色 */
  backdrop-filter: blur(8px); /* 關鍵：讓背景模糊 */
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  color: $light;
}